<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Dunn Vineyards" %></title>

		<%= stylesheet_link_tag "normalize", "dunn" %>
		<link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

		<%= javascript_include_tag  "all" %>

		<style>
			html {
				-webkit-font-smoothing: antialiased;
			}
		</style>
	</head>

  <body class="<%= page_classes %> pv4 athelas black-70 f4">
    <header class="mw8 center pb4">
      <% link_to '/', :class => "link dib"  do %>
        <%= image_tag 'logo.png', :class => "pl1", :height => "72" %>
      <% end %>
      <nav class="fr" style="line-height: 72px;">
        <%= link_to  'The Wine', 'wines', :class => 'dark-blue link dim ph3' %>
        <%= link_to  'The Place', 'place', :class => 'dark-blue link dim ph3' %>
        <%= link_to  'The Family', 'family', :class => 'dark-blue link dim ph3' %>
        <%= link_to  'The Story', 'story', :class => 'dark-blue link dim ph3' %>

				<div class="button">
						<a class="btn-open" href="#"></a>
				</div>

      </nav>
    </header>

    <div class="overlay">
      <div class="wrap">
        <nav class="f1 lh-copy mt6">
          <%= link_to  'Home', 'index', :class => 'white link dim db' %>
          <%= link_to  'The Wine', 'wines', :class => 'white link dim db' %>
          <%= link_to  'The Place', 'place', :class => 'white link dim db' %>
          <%= link_to  'The Family', 'family', :class => 'white link dim db' %>
          <%= link_to  'The Story', 'story', :class => 'white link dim db' %>
        </nav>
      </div>
    </div>

      <% if current_page.data.hero.present? %>
        <section class="w-100 tc mb5">
          <%= image_tag current_page.data.hero, :class => 'w-100' %>
        </section>
      <% end %>

      <% if current_page.data.title.present? %>
        <section class="mw8 center mb4">    
          <h1 class="normal mv0 tc"><%= current_page.data.title %></h1>
        </section>
      <% end %>

    <%= yield %>

    <%= partial 'footer' %>

    <script>
			$(document).ready(function(){
				$(".button a").click(function(){
					$(".overlay").fadeToggle(200);
					$(this).toggleClass('btn-open').toggleClass('btn-close');
				});
			});
			$('.overlay').on('click', function(){
				$(".overlay").fadeToggle(200);   
				$(".button a").toggleClass('btn-open').toggleClass('btn-close');
				open = false;
			}); 
    </script>

  </body>
</html>
