<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dunn Vineyards<% if current_page.data.title.present? %>:  
         <%= current_page.data.title %>
      <% end %>
    </title>
    
    <meta name="description" content="Highly acclaimed Cabernet Sauvignon from Howell Mountain in the Napa Valley since 1979.">

    <%= favicon_tag 'images/favicon.png' %>

		<%= stylesheet_link_tag "normalize", "dunn", "hamburger" %>
		<link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

		<%= javascript_include_tag  "all" %>
    <script src="/javascripts/jquery-1.11.1.min.js"></script>

		<style>
			html {
				-webkit-font-smoothing: antialiased;
			}
		</style>
	</head>

  <body class="<%= page_classes %> athelas black-70 f5 f4-l">


    <%= yield %>


    <%= partial 'footer' %>
    
    <script>

			$(document).ready(function(){
        // hamburger navigation
				$('#nav-icon3').click(function(){
					$(this).toggleClass('open');
					$(".overlay").fadeToggle(200);
				});
        $('.overlay').on('click', function(){
          $(".overlay").fadeToggle(200);   
          $("#nav-icon3").toggleClass('open');
          <%#open = false;%>
        });
        // Scrapbook stuff
        var setScrapbookRowHeight = function(){
          scbkw = $('.scrapbook-height').width();
          console.log(scbkw);
          if(scbkw >= 416){
            console.log('were over 416');
            scbkh = scbkw * .42;
            console.log('scbkh is' + scbkh);
            $('.scrapbook-height').height( scbkh );
          } else {
            $('.scrapbook-height').height( 'auto' );
          }
        }
        setScrapbookRowHeight();
        $(window).resize(setScrapbookRowHeight);
      });

    </script>

  </body>
</html>
