<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Dunn Vineyards" %></title>

		<%= stylesheet_link_tag "normalize" %>
		<link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>
		<%= javascript_include_tag  "all" %>
		<style>
			html {
				-webkit-font-smoothing: antialiased;
			}
		</style>
	</head>

  <body class="<%= page_classes %> pa5 athelas black-70 f4">
    <header class="mw8 center">
      <% link_to '/', :class => "link dib"  do %>
        <%= image_tag 'logo.jpg', :class => "", :width => "300" %>
      <% end %>
      <nav class="fr">
        <%= link_to  'Wines', 'wines.html', :class => 'dark-blue link underline-hover ph3' %>
        <%= link_to  'Vineyards', 'vineyards.html', :class => 'dark-blue link underline-hover ph3' %>
        <%= link_to  'About', 'about.html', :class => 'dark-blue link underline-hover ph3' %>
        <%= link_to  'Contact', 'contact.html', :class => 'dark-blue link underline-hover ph3' %>
      </nav>
    </header>

    <section class="mw8 center mt5">
      <% if current_page.data.title.present? %>
        <h1 class="normal"><%= current_page.data.title %></h1>
      <% end %>
      <%= yield %>
    </section>

    <footer class="bg-light-gray w-100 pa3 mt5">
      <div class="mw8 center">    
        <%= partial 'footer-nav' %>
        <%= partial 'social' %>
        <p class="f6">&copy; 2017 Dunn Vineyards</p>
      </div>

    </footer>
  </body>
</html>
