<% wrap_layout :layout do %>

  <header class="mw8 center pv4 ph3 ph0-l tc tl-ns">

    <% link_to '/', :class => "link dib"  do %>
      <%= image_tag 'logo.png', :class => "pl1", :height => "72" %>
    <% end %>

    <nav class="fr" style="line-height: 72px;">

      <div class="dn db-l">
        <%= link_to  'The Wine', 'wines', :class => 'dunn-link link dim ph3' %>
        <%= link_to  'The Place', 'place', :class => 'dunn-link link dim ph3' %>
        <%= link_to  'The Family', 'family', :class => 'dunn-link link dim ph3' %>
        <%= link_to  'The Story', 'story', :class => 'dunn-link link dim ph3' %>
      </div>

      <!-- HAMBURGER MENU -->
      <div class="absolute di dn-l top-1 right-1">
        <div id="nav-icon3" class="dn-l z-999">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

    </nav>

  </header>


  <%= partial 'hamburger-overlay' %>


  <!-- PAGE START -->

  <% if current_page.data.hero.present? %>
    <section class="w-100 tc mb5">
      <%= image_tag current_page.data.hero, :class => 'w-100' %>
    </section>
  <% end %>

  <% if current_page.data.title.present? %>
    <section class="mw8 center mb4">    
      <h1 class="normal mv0 tc"><%= current_page.data.title %></h1>
    </section>
  <% end %>

  <%= yield %>


<% end %>
