
<ul>
  <li><%= link_to  'Home', 'index.html', :class => 'dark-blue link underline-hover' %></li>
  <li><%= link_to  'Philsophy', 'philosophy.html', :class => 'dark-blue link underline-hover' %></li>
  <li><%= link_to  'Wines', 'wines.html', :class => 'dark-blue link underline-hover' %>
    <ul>
      <li><%= link_to  'Howell Mountain', 'wines/howell-mountain.html', :class => 'dark-blue link underline-hover' %>
        <ul>
           <li><%= link_to  'How to Remove Wax', 'wines/how-to-remove-wax.html', :class => 'dark-blue link underline-hover' %></li>
        </ul>
      </li>
      <li><%= link_to  'Napa Valley', 'wines/napa-valley.html', :class => 'dark-blue link underline-hover' %></li>
      <li><%= link_to  'Tasting Notes', 'wines/tasting-notes.html', :class => 'dark-blue link underline-hover' %></li>
      <li><%= link_to  'How to Remove Wax', 'wines/how-to-remove-wax.html', :class => 'dark-blue link underline-hover' %></li>
      <li><%= link_to  'Library Wines', 'wines/library-wines.html', :class => 'dark-blue link underline-hover strike' %></li>
    </ul>
  </li>
  <li><%= link_to  'Vineyards', 'vineyards.html', :class => 'dark-blue link underline-hover' %>
  <li><%= link_to  'About', 'wines.html', :class => 'dark-blue link underline-hover' %>
  <ul>
    <li><%= link_to  'Family / Team?', 'family.html', :class => 'dark-blue link underline-hover' %></li>
    <li><%= link_to  'History', 'history.html', :class => 'dark-blue link underline-hover' %></li>
    <li><%= link_to  'A Year at Dunn', 'year-at-dunn.html', :class => 'dark-blue link underline-hover' %></li>
    <li><%= link_to  'Napa Land Trust', 'napa-land-trust.html', :class => 'dark-blue link underline-hover' %></li>
    <li><%= link_to  'Press', 'press.html', :class => 'dark-blue link underline-hover' %></li>
  </ul>
  </li>
  <li><%= link_to  'Contact Us', 'contact.html', :class => 'dark-blue link underline-hover' %> </li>
</ul>

