<!-- HAMBURGER NAV OVERLAY -->

<div class="overlay">
	<div class="wrap">
		<nav class="f1 lh-copy mt6">
			<%= link_to  'Home', 'index', :class => 'white link dim db' %>
			<%= link_to  'The Wine', 'wines', :class => 'white link dim db' %>
			<%= link_to  'The Place', 'place', :class => 'white link dim db' %>
			<%= link_to  'The Family', 'family', :class => 'white link dim db' %>
			<%= link_to  'The Story', 'story', :class => 'white link dim db' %>
		</nav>
		<div class="mt4 f6 ttu tracked">
			<%= link_to 'Facebook', 'https://www.facebook.com/Dunn-Vineyards-173548589349104/', :class => 'di white link dim pr3' %>
			<%= link_to 'Instagram', 'https://www.instagram.com/dunnvineyards/', :class => 'di white link dim pr3' %>
			<%= link_to 'Contact Us', 'contact', :class => 'di white link dim' %>
		</div>
	</div>
</div>
