---
title: "About" 
---

<h2 class="normal">Style</h2>
<p class="lh-copy measure">“The mountain really determined the style of the wine. It was obvious right away that the grapes that were grown up here were more powerful than the fruit from the valley floor.” – Randy Dunn
</p> 

<h2 class="normal">Philosophy</h2>
<p class="lh-copy measure">Working hard is a part of our life it is not all that we do, nor all that we want to be remembered for. We farm 35 acres of Cabernet Sauvignon on Howell Mountain. Since 1979 we’ve done our best to care for these vines so that they produce a wine that tastes like Cabernet Sauvignon from Howell Mountain. Today we are hands on in the vineyard, on the crush pad and in the cellar. Any more land and we would need to spend more time administering and managing we’d prefer to farm.</p> 

<h2 class="normal "><%= link_to  'Family', 'family.html', :class => 'dark-blue link underline-hover' %></h2>
<h2 class="normal "><%= link_to  'History', 'history.html', :class => 'dark-blue link underline-hover' %></h2>
<h2 class="normal "><%= link_to  'A Year at Dunn', 'year-at-dunn.html', :class => 'dark-blue link underline-hover' %></h2>

<h2 class="normal ">The Winery</h2>
<p class="lh-copy measure i">Dunn’s winery sits in a fir forest high above the valley floor, a slightly scruffy compound with a ramshackle barn surrounded by agricultural equipment, outdoor fermentation tanks, and a fenced pasture with horses. The office is a former Western Union stagecoach stop. &mdash; Jay McInerney</p>

<h2 class="normal">Future</h2>
<p class="lh-copy measure">We have no intentions of increasing our production or growing the brand. The current size of our farm and its production allows us to be involved in all aspects. If it were any bigger the work would become much more administrative, managerial not to mention the amount of effort to sell the wine would increase exponentially and for us that’s not the fun part.</p> 

<h2 class="normal "><%= link_to  'Napa Land Trust', 'napa-land-trust.html', :class => 'dark-blue link underline-hover' %></h2>


<p class="lh-copy measure"></p>

<hr class="mt6">
<div class="pa5 bg-light-silver mv5">
  <p class="i">New Page -- trying to roll up a lot of pages under this one to keep the upper navigation clean</p>
  <p class="i">Old versions of copy</p>

<p class="lh-copy measure">I knew that I wanted to simplify things after my experience at Caymus. I didn’t want to be bottling into the back of a super market truck and didn’t want to be subjugated to the marketing department’s demands. “Keep it simple dummy."</p>

<h2 class="normal">Style</h2>
<p class="lh-copy measure">The mountain really determined the style of the wine. It became obvious right away that the grapes up here were much more powerful than down on the valley floor. I just made the wine itself the same way we did at Caymus, it just was a more tannic wine due to the place.</p> 

<h2 class="normal "><%= link_to  'Press', 'press.html', :class => 'dark-blue link underline-hover' %></h2>
<p class="i">Ben, you mentioned working this into the history. I think we can do that but also link to the articles if we pull quotes out. Downplaying the press makes sense &mdash; fits with the brand.</p>
</div>
