---
title: "Contact" 
layout: "standard"
hero: "contact/hero.jpg"

---
<section class="mt0 mb4 mb5-ns mw8 center ph4">
	<div class="mw8 center cf mb4 mb5-l">
		<div class="fl w-100 w-50-l ph4-l">
      <h2 class="normal mt0 tc tl-l">Visiting</h2>
      <p class="lh-copy measure center">Dunn Vineyards isn’t your typical Napa winery -- it’s a small, working farm and family home.  While we love to have folks up and show them around, there’s limited availability. We don’t host guests on the weekends so Randy and Lori can relax after a week of work. We prefer to find a time during the week when we’re not tending to the vines, making wine, or fixing equipment. Send <%= mail_to 'dunnvineyards@yahoo.com', "Kristina", :class => "dunn-link link txt-link" %> an email and she’ll try to work something out.</p>
      <p class="lh-copy measure center">Email Kristina: <%= mail_to 'dunnvineyards@yahoo.com', "dunnvineyards@yahoo.com",:class => "dunn-link link txt-link" %></p>
    </div>
		<div class="fl w-100 w-50-l ph4-l mt4 mt0-l">
      <h2 class="normal mt0 tc tl-l">Allocation</h2>
      <p class="lh-copy measure center">Our wine is sold direct to our loyal customers via our annual newsletter. If you have not purchased our wine from us directly and are interested in becoming a part of our annual newsletter, please email <%= mail_to 'info@dunnvineyards.com', "Erin",:class => "dunn-link link txt-link" %> for information.</p>
      <p class="lh-copy measure center">Email Erin: <%= mail_to 'info@dunnvineyards.com', "info@dunnvineyards.com",:class => "dunn-link link txt-link" %></p>
    </div>
  </div>
  <div class="">
    <%= image_tag "contact/end.jpg" %>
  </div>
</section>
