---
title: "The Family" 
hero: "family/fam-os-bw.jpg" 
layout: "standard"
---


<section class="mv5 mw8 center">
  
  <div class="center pv3 cf mw8">
    <div class="w-100 center cf">


      <!-- COL 1 -->
      <div class="fl w-100 w-50-l ph4 mb4-l">

        <!-- <%= image_tag 'family/fam-os.jpg', :class => 'w-100' %> -->
        <h3 class="normal mt0">Randy Dunn</h3>
        <%= image_tag ' family/randy-os.jpg', :class => 'w-100' %>
        <p class="lh-copy measure">Founder, farmer, activist and winemaking pioneer of Howell Mountain. Randy started his making wine for Charlie Wagner as the first enologist for Caymus Vineyards, and never looked back. Now after all these years, not a lot has changed. More of a farmer, he’s hands on in vineyards most days. His love for Howell Mountain lead him to be instrumental in establishing it as a sub Appellation of the Napa Valley. And if he’s not farming the mountain, he’s mountain biking on it, flying his plane over it, or finding ways to preserve it for future generations. He is happy to be called a dirt-loving hippie, but you’d probably think he’s more of a cowboy.

        <h3 class="normal mt5">Lori Dunn</h3>
        <%= image_tag ' family/lori-os.jpg', :class => 'w-100' %>
        <p class="lh-copy measure">Co-founder of Dunn Vineyards and matriarch of the family, Lori is the glue that holds it all together. She managed everything from the accounting to kids.  Happy not to be involved in the day to day tasks (especially waxing the bottles), she loves spending time with her grand kids, quilting relaxing at her oasis on Bodega Bay, and making sure that the gardens meet her Master Gardner specifications.</p>

        <h3 class="normal mt5">Mike Dunn</h3>
        <%= image_tag ' family/mike-os.jpg', :class => 'w-100' %>
        <p class="lh-copy measure">While he calls himself a “cellar grunt”, Mike actually oversees production of the wine, works with the team in the vineyards, and manages the overall operation. An interest in experimenting with other varietals lead Mike and his wife Kara to purchase some old vine Petite Sirah from Randy and start their own label <%= link_to 'Retro Cellars',  'http://www.retrocellars.com', :class=>'dark-blue link dim' %>. Before becoming a full time wine-maker, Mike pursued his other interests. He graduated from UC Santa Barbara in 1988 with a degree in Anthropology (surfing) and later owned a bike shop in Calistoga. He and Kara have two grown children who are currently on their own paths.  But they wouldn’t be surprised if, like their father, they end up farming grapes on Howell Mountain.</p>

        <h3 class="normal mt5">Jennifer Dunn</h3>
        <p class="lh-copy measure">It is safe to say, that we are who we are today because of the love Jenny brought to our lives. She loved riding horses with dad, playing softball along with many other things. She was attending Chico State, when she died of bacterial meningitis in 1999. Today it is a mandate at most institutions of higher learning that students be vaccinated. Jenny was one of the cases that led to this beneficial requirement that has saved many other lives.</p> 

        <h3 class="normal mt5">Kristina Dunn-Buchanan</h3>
        <%= image_tag ' family/kristina-os.jpg', :class => 'w-100' %>
        <p class="lh-copy measure">Marketer, mediator, and now mostly full time mother, Kristina is the youngest of the Dunn children. After graduating Cal Poly San Luis Obispo with a BS in Wine &amp; Viticulture, she returned to Howell Mountain to manage marketing, run hospitality, and resume her natural role as family mediator. These days days she spends most of her time, along with her husband Brian, managing their two young daughters, but she's close by and ready to help out.  


        <h2 class="normal mt5">The Vineyard Family</h2>


        <h3 class="normal mt5">Erin Begerow</h3>
        <%= image_tag ' family/erin.jpg', :class => 'w-100' %>
        <p class="lh-copy measure">Office manager. She is a native Californian, and a graduate of Pomona College. Erin takes care of all office work, and started working for the Dunn&#8217;s in October of 1994. She and her husband live just down the road from the winery. They have two children, both of whom are in college now. She also coaches the Waves Aquatics swim team.</p>

      </div>

    <!-- COL 2 -->
      <div class="fl w-100 w-50-l ph4">

        <% data.family.each do |f| %>
          <%= image_tag f.photo, :class => 'w-100' %>
          <p class="f5 i mt1 mb4"><%= f.caption %></p>
        <% end %>

      </div>

    </div>
  </div>
</section>
