---
title: "The Place" 
hero: "place/drone.jpg"
layout: "standard"
---

<section class="mt0 mb4 mb5-ns mw8 center ph4">
  <blockquote class="mb4 measure-narrow center">
  <p class="lh-copy i mb0">We farm 35 acres of Cabernet Sauvignon on Howell Mountain. Since 1979 we’ve done our best to care for these vines so that they produce a wine that tastes like Cabernet Sauvignon from Howell Mountain. Today we are hands-on in the vineyard, on the crush pad, and in the cellar. Any more land and we would need to spend more time administering and managing. We’d prefer to farm.</p>
    <cite class="f6 f5-l ttu tracked tr db measure"> &mdash; Randy Dunn</cite>
  </blockquote>
</section>

<section class="mw8 center">
<%= image_tag 'place/tractor.jpg', :class => 'w-100' %>
</section>

<section class="mb4 mv5-ns mw8 center ph4">
  <div class="center measure">
		<blockquote class="mb4 mb5-ns measure-narrow center">
		<p class="lh-copy i mb0">I thought it was pretty and that I could make some good wine.</p>
			<cite class="f6 f5-l tr db"> &mdash; <span class="tracked ttu">Randy Dunn</span></cite>
			<cite class="f6 f5-l tr db">(on why he decided to farm on Howell Mountain)</cite>
	</blockquote>
    <h2 class="normal mt4 mt5-ns  mb0">The Mountain</h2>
    <p class="lh-copy">Led by Bill Smith, Randy and a few other winemakers and grape growers proposed and defined the distinctive Howell Mountain AVA. The AVA’s boundary starts at an elevation of 1400’ so even when it is cool and foggy on the valley floor, it is sunny and breezy up on the mountain. Our wine epitomizes the Howell Mountain Cabernet: deep concentration, bold, massive, ultra rich and elegant.</p> 

		<blockquote class="mv4 mv5-ns  measure-narrow center">
		<p class="lh-copy i mb0">Howell Mountain grapes need thick skins to survive and thick skins provide deep flavors and chewy tannins.</p>
			<cite class="f6 f5-l ttu tracked tr db measure"> &mdash; James Laube</cite>
		</blockquote>

  </div>
</section>

<section class="mw8 center tc">
<%= image_tag 'place/gmap.jpg', :class => 'w-100' %>
</section>

<section class="mv4 mv5-ns mw8 center ph4">

  <h2 class="normal mb0 measure center tc">The Vineyards</h2>

    <div class="center cf mb3 mt4 mb4-ns">

      <div class="fl w-100 w-50-l ph4-l">
        <h3 class="normal mt0 mb0 tc">Alta Tierra Vineyard</h3>
        <p class="lh-copy i mt0 tc">Formerly the "Trailer Vineyard"</p>
        <p class="lh-copy measure center">This was the original vineyard purchased in 1978 by Randy and Lori. After the 2013 vintage, we tore out the old vineyard and began the replant. In 2016 we grafted Cabernet Sauvignon onto the rootstock and renamed the vineyard "Alta Tierra".</p>
        <h3 class="normal mt4 mt5-l tc">Lake Vineyard</h3>
        <p class="lh-copy measure center ">This vineyard is located directly adjacent to the winery and Randy and Lori’s home. For the first 20 years, we grew hay here to feed our horses. The 8 acres primarily consists of Cabernet Sauvignon planted in three blocks (2000, 2001, and 2003). You’ll also find a few rows of Syrah (for home consumption).  And on the western border is an acre Mike calls “Los Abuelos” where he grows Petite Sirah and Peloursin for his <%= link_to  'Retro Cellars',  'http://www.retrocellars. com', :target => "_blank", :class => 'dunn-link link txt-link' %> label.  Because it sits in a small valley, this vineyard is the coolest and requires overhead sprinklers along with a wind machine for frost protection.</p>
        
      </div>

      <div class="fl w-100 w-50-l ph4-l">
        <h3 class="normal mt0 tc">Frank Vineyard</h3>
        <p class="lh-copy measure center">In 1979, Henry Frank entrusted Randy with managing this vineyard and we’ve been taking care of it ever since.  Though we don’t own it, it feels very much like part of our land.  Originally planted in 1965, we re-planted the two blocks in 1989 and 1993.</p>
        <h3 class="normal mt4 mt5-l tc">Park Muscatine Vineyard</h3>
        <p class="lh-copy measure center ">We purchased this vineyard in 1991. It is comprised of 5 distinct blocks. We immediately replanted "Cuervo",  followed by "JK" (1993) and "Below House" (1998).  "Coyote" is the former home of the "Old Petite" block Mike and Kara grew for <%= link_to  'Retro Cellars', 'http://www.retrocellars.com', :target => "_blank", :class =>   'dunn-link link txt-link' %>, but we replanted Cabernet there in 2016. Production from the little “Creek” block is starting to slow, so we'll be replanting that acre soon.</p>
      </div>

    </div>
</section>


<section class="mw8 center">
<%= image_tag 'place/winery.jpg', :class => 'w-100' %>
</section>

<section class="mv4 mv5-ns mw8 center ph4">
   <div class="center measure">
    <h2 class="normal mt4 mt5-ns mb0">The Winery</h2>
  <blockquote class="mb4 measure-narrow center">
    <p class="lh-copy measure i">Dunn’s winery sits in a fir forest high above the valley floor, a slightly scruffy compound with a ramshackle barn surrounded by agricultural equipment, outdoor fermentation tanks, and a fenced pasture with horses. The office is a former Western Union stagecoach stop.</p>
    <cite class="f6 f5-l ttu tracked tr db measure"> &mdash; Jay McInerney</cite> 
    <cite class="f6 f5-l tr db measure"><%= link_to  '"Dunn Vineyards Is Making Some of the Best Napa Valley Cabernet", Town &amp; Country', 'http://www.townandcountrymag.com/leisure/drinks/a4256/jay-mcinerney-june-july-2014/', :target => "_blank", :class => 'dunn-link link underline-hover' %></cite> 
  </blockquote>
   </div>
</section>

<section class="mw8 center">
<%= image_tag 'place/potato-hill-pano.jpg', :class => 'w-100' %>
</section>

<section class="mv4 mv5-ns mw8 center ph4">
  <div class="center measure">
    <h2 class="normal mb0">Open Space</h2>
    <p class="lh-copy">Conservation is a priority today. Randy and Lori’s first involvement was in 2004. They gifted the development rights for their Sentinel Hill property, to the <%= link_to "Napa Land Trust", "https://www.napalandtrust.org/", target: :_blank, :class => 'link dunn-link txt-link' %>. The property is 64 acres of forested hillside overlooking the town of Angwin, up on Howell Mountain. The second was the Dunn’s gift of $5 million, the largest donation in the history of the Land Trust to help purchase the Wildlake Ranch a 3000-acre property up on the mountain.</p>

<p class="lh-copy">There is a sense of urgency in the Napa Valley to preserve the natural landscape. The influx of big money coming into the area puts tremendous pressure on the wild lands above the valley floor, there is a constant tension between preservation and projects to clear land and plant vineyards. 
</p>

<p class="lh-copy i measure-narrow center tc">In life, we have to decide what will define us and what we will leave behind for the next generation.</p>

  </div>
</section>

<section class="mw8 center">
<%= image_tag 'place/coyote.jpg', :class => 'w-100' %>
</section>
