---
title: "The Place" 
hero: "place/coyote.jpg"
---

<section class="mv5 mw8 center">
  <blockquote class="mb4 measure center">
  <p class="lh-copy i mb0">We farm 35 acres of Cabernet Sauvignon on Howell Mountain. Since 1979 we’ve done our best to care for these vines so that they produce a wine that tastes like Cabernet Sauvignon from Howell Mountain. Today we are hands on in the vineyard, on the crush pad and in the cellar. Any more land and we would need to spend more time administering and managing we’d prefer to farm.</p>
    <cite class="f5 ttu tracked tr db measure"> &mdash; Randy Dunn</cite>
  </blockquote>
</section>

<%= image_tag 'place/tractor.jpg', :class => 'w-100' %>

<section class="mv5 mw8 center">

<img class="w-100" src="http://via.placeholder.com/1400x400?text=Howell+AVA+Map?">
  <div class="center measure">
    <h2 class="normal mt5 mb0">The Mountain</h2>
    <p class="lh-copy">Recognizing the distinctiveness of the wines from Howell Mountain, Randy and some of the other winemakers sought to have the region recogized as a specific sub-region of Napa. Randy photographed the area from his plane and they submitted the application in 1981. In 1983, Howell Mountain became the first sub appelation of the Napa AVA.
  </div>
</section>

<!-- <%= image_tag 'place/side-hill.jpg', :class => 'w-100' %> -->



<%= image_tag 'place/vineyard-map.png', :class => 'w-100' %>

<section class="mv5 mw8 center">
  
  <h2 class="normal mt5 mb0 measure center tc">The Vineyards</h2>

  <div class="center pv3 cf mw8">
    <div class="w-100 center cf">
      
      <div class="fl w-100 w-50-l ph4 mb4-l">

        <h3 class="normal mt0 mb0 tc">Alta Tierra Vineyard</h3>
        <p class="lh-copy i mt0 tc">Formerly the "Trailer Vineyard"</p>
        <p class="lh-copy">This was the original vineyard purchased in 1978 by Randy and Lori. After the 2013 vintage we tore out the old vineyard, and began the replant. In 2016 we grafted Cabernet Sauvignon onto the rootstock and renamed the vineyard "Alta Tierra". The orientation of the vineyard is basically East/West the Cabernet is grafted on rootstock 3309c with spacing between 8 and 9 x 4.5 depending on the slope.</p>

    <h3 class="normal mt0 tc">Lake Vineyard</h3>
    <p class="lh-copy ">This vineyard is located directly adjacent to the winery and Randy and Lori’s home. Before this vineyard was planted, Randy and Mike grew hay for 20 years to feed the Dunn’s horses. These 8 acres are mostly cabernet sauvignon, except for a few rows of Syrah (for home consumption). There is also about 1 acre of Petite Sirah and Peloursin planted on the west border of the vineyard. Mike named this Los Abuelos and uses it for his Retro Cellars label. The Cabernet Sauvignon was planted in 3 blocks. Lake I was planted in 2000 using 101-14 rootstock. Lake II was planted in 2001 on 3309. The last block, Lake III, was planted also on 3309 in 2003. Each block contains a mix of 4 different clones; 337, 15, Dunn (from our Trailer Vineyard) and Frank (from the Harry Frank vineyard). This vineyard is the coolest of all, as it sits in a small valley, and requires overhead sprinklers for frost protection along with a wind machine.</p>
    
    
    </div>
    <div class="fl w-100 w-50-l ph4">

    <h3 class="normal mt0 tc">Frank Vineyard</h3>
    <p class="lh-copy ">Named for Henry Frank who entrusted Randy with managing this vineyard for him back in 1979. Though we don’t own it, it feels very much like part of our land as it is nestled between two of our vineyards and farmed by us. This vineyard was planted in 1965 and we re-planted the two blocks in 1989 and 1993. The block planted in 1989 is on 110R rootstock and the 1993 block is planted to 3309. The vines are planted North/South.</p>

    <h3 class="normal mt0 tc">Park Muscatine Vineyard</h3>
    <p class="lh-copy ">This vineyard was purchased in 1991. The first block which we call “Cuervo” was replanted in 1991. The “JK” block was replanted in 1993, and it wasn’t until 5 years later that we replanted the block we simply call “Below House”. The fourth and final block within that vineyard was not replanted until 2016. Formerly the “Old Petite” block it was the fruit that Mike and Kara utilized to start their Retro Cellars project. Currently named the “Coyote” block. It has been planted to Cabernet Sauvignon.  Slopes and sun exposure vary along this 16 acre vineyard.</p>

    </div>

  </div>
  </div>
</section>


<%= image_tag 'place/winery.jpg', :class => 'w-100' %>

<section class="mv5 mw8 center">
  <div class="center measure">
    <h2 class="normal mt5 mb0">The Winery</h2>
    <p class="lh-copy measure i">Dunn’s winery sits in a fir forest high above the valley floor, a slightly scruffy compound with a ramshackle barn surrounded by agricultural equipment, outdoor fermentation tanks, and a fenced pasture with horses. The office is a former Western Union stagecoach stop. &mdash; Jay McInerney</p>
  </div>
</section>



<%= image_tag 'place/potato-hill-pano.jpg', :class => 'w-100' %>

<section class="mv5 mw8 center">
  <div class="center measure">
    <h2 class="normal mt5 mb0">Open Space</h2>
    <p class="lh-copy measure i">Sixty three of these forested acres are entrusted to the <%= link_to "Napa Land Trust", "https://www.napalandtrust.org/", target: :_blank, :class => 'link dark-blue dim'  %>. This ensures that regardless of who owns this land in the future it will stay as it is now – as trees.</p>

    <p class="lh-copy measure">Randy and Lori’s first donation to the <%= link_to "Napa Land Trust", "https://www.napalandtrust.org/", target: :_blank, :class => 'link dark-blue dim'  %>  was in 2004. The Sentinel Hill property consisted of 64-acre of completely forested land as you enter the town of Angwin on Howell Mountain. The second donation, the Dunn’s gift of $5 million, was the largest donation in the history of the Land Trust. This gift was to the Napa Valley Wild Campaign to preserve and protect the Wildlake and Duff Ranches, inspiring the community to jump start the raising of more than $25 million in order to preserve and protect the 4,000 acre that make up the two ranches. This forested land is abundant in native vegetation and wildlife, and will remain so.</p>

    <p class="lh-copy measure">In life we have to decide what will define us and what we will leave behind for the next generation.</p>
  </div>
</section>

<%= image_tag 'place/drone.jpg', :class => 'w-100' %>
