---
title: 'Tasting Notes'
layout: "standard"
---



<section class="mw8 center">
	<div class="w-100 center cf">
		<div class="fl w-100 w-30-l">
			<div id="tags" class="f5 lh-copy pr4">
				<label id="howell" class="db dunn-link">Howell Mountain</label>
				<label id="trailer" class="db dunn-link">Howell Mountain &mdash; Trailer Vineyard</label>
				<label id="napa" class="db dunn-link">Napa Valley</label>
				<label id="petit" class="db dunn-link">Petit Syrah</label>
				<hr />
			</div>
		</div>
		<div class="fl w-100 w-50-l">
			<% data.notes.each do |f| %>
				<div class="measure-wide center mb5 mt0 <%= f.year %> <%= f.tag %> note" style="display:none;">
					<h3 class="mb2 mt0"><%= f.year %> <%= f.wine %></h3>
					<h4 class="mt0 normal i"><%= f.author %></h4>
					<p class="lh-copy"><%= f.notes %></p> 
				</div>
			<% end %>
		</div>
	</div>
</section>


<script>

var showRecent = function(){
	$("div.2013").show();
	$("div.2012").show();
	console.log('shown recent ...');
}

var hideAll = function(){
	$("div.note").hide();
}

var showAllHowell = function(){
	hideAll();
	$("div.howell").show();
}

var showAllNapa = function(){
	hideAll();
	$("div.napa").show();
}

var showAllPetit = function(){
	hideAll();
	$("div.petit").show();
}

var showAllTrailer = function(){
	hideAll();
	$("div.trailer").show();
}

var renderEverything = function(tagToMatch){
	<%#console.log("the tag is ..." + tagToMatch)%>
	hideAll();
	$("div." + tagToMatch).show();
}

var addTagHandlers = function(){
	$("label").click(function(){
		var tagToMatch = $(this).attr("id");
		$(window).scrollTop(0);
		renderEverything(tagToMatch);
	});
}

var createNumLabels = function(){
	for(var i=2013; i>1978; i--){
		$("div#tags").append("<label class=\"w3 dib dunn-link\" id=\"" + i + "\">" + i + "</label>");
	}
	//$("div#tags label").addClass('db');
	//console.log('created the number labeles ... ');
}

$(document).ready(function(){
		showRecent();
		createNumLabels();
		addTagHandlers();
});

</script>
